.container {
    width: 500px;
    margin-top: 50px;
}

@media (max-width:740px) {
    .container {
        width: auto !important;
    }

    .title {
        font-size: 35px !important;
    }
}

.btn-forget {
    margin-left: 188px;
}

.login{
    list-style-type: none;
}
